<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Log In Page</title>
</head>
<body>

     <div class="messageBody" id="messageBody">
        <p id="messageText" >lsdjflasjdf;ljasdfsdlfkasld</p>
    </div>
    <div id="form-parent">
        <form>
            <h3 style="color: blue;">Login Form</h3>
            <label for="username">User Name:</label><br>
            <input value="hk@212" name="username" id="usernameInput" type="text" placeholder="username" ><br>

            <label for="password">Password:</label><br>
            <input value="Hk@1369122" name="password" id="passwordInput" type="password" placeholder="password" ><br>

        </form>

<button id="login-btn" >Login</button>

    </div>

    <div id="user-info">

        <p  class="p-info" id="fname-info">First Name : </p>
        <p class="p-info" id="lname-info">Last Name : </p>
        <p class="p-info" id="username-info">User Name : </p>
        <p class="p-info" id="gender-info">Gender : </p>

    </div>
    <script src="/JS/login.js"></script>
</body>
</html>