<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Document</title>
</head>
<body>

  
    <div class="messageBody" id="messageBody">
        <p id="messageText" >lsdjflasjdf;ljasdfsdlfkasld</p>
    </div>
<div id="form-parent">

    <form  >
      <h3 style="color: blue;">Signin <Form></Form></h3>

  <label for="firsname">First Name:</label><br>
  <input  type="text" id="fnameInput" name="firsname"><br>

  <label for="lastname">Last Name:</label><br>
  <input type="text" id="lnameInput" name="lastname"><br>

  <label for="username">User Name:</label><br>
  <input type="text" id="userNameInput" name="username"><br>

  <label for="password">Password:</label><br>
  <input type="password" id="passwordInput" name="password"><br>

  <label for="gender">Gender:</label>
  <select name="gender" id="genderInput">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>

</form>
  <button id="submit-btn" type="button">SUBMIT</button>
</div>

  <div id="have-account"><a href="http://localhost:4000/auth/login">do you have an account?</a></div>

    
</body>
</html>