<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
    <title>Document</title>
</head>
<body>
<div class="topnav">
  <a id="home-anchor" class="active" href="http://localhost:4000/home?page=home">Home</a>
  <a id="about-anchor"  href="http://localhost:4000/about?page=about">About</a>
  <a id="contact-anchor" href="http://localhost:4000/contact?page=contact">Contact</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input id="search-inp" type="text" placeholder="Search.." name="search">
      <button id="search-btn" type="button"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<script src=""></script>
  
</body>
</html>